doctype html
html
	head
		title="Strona napisana silnikiem PUG"
	body
		h1= title
		input(type= "text" value="username")
		input(type= "text" value="password")
		a(href= link role="button") Zaloguj się



